{% extends 'core/base.html' %}
{% block title %} Blog | Add {% endblock title %}

{% block content %} 
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title :</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="introduction">Introduction :</label>
            <textarea class="form-control" name="introduction" id="introduction" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="body_list">Body List :</label>
            <textarea class="form-control" name="body_list" id="body_list" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="conclusion">Conclusion :</label>
            <textarea class="form-control" name="conclusion" id="conclusion" cols="30" rows="10"></textarea> 
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock content %}